# Linguist overrides
*.md linguist-detectable=true
*.md linguist-documentation=false
# Font Linguist overrides
*.ttf linguist-language=Glyph linguist-detectable=true
*.ttf linguist-language=Glyph linguist-documentation=false
